<div class="mt-4 text-light text-center">
    <div class="mt-2">
      <a href="https://www.instagram.com/nasc_dev?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        target="_blank"
        class="text-decoration-none d-inline-flex align-items-center gap-1 instagram-link">
        
        <!-- Ícono en color -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" 
             alt="Instagram" width="20" height="20" />
  
        <!-- Nombre con estilo -->
        <span class="insta-name">@nasc_dev</span>
      </a>
    </div>
    <small>Esta herramienta es solo para uso personal.</small>
</div>
  