<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube NASC DEV Downloader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <meta name="description" content="Descarga videos y música de YouTube en MP3 o MP4 realizado por NASC DEV.">
    <link rel="icon" href="https://ik.imagekit.io/nascAsociate/youtube/1f3870be274f6c49b3e31a0c6728957f.jpg?updatedAt=1746165497181" type="image/jpg">
</head>